matplotlib==3.7.5
scikit-image==0.21.0
trimesh==4.3
rtree==1.3.0
torch==1.13.1
torchvision==0.14.1
pytorch-lightning==1.9.0
kornia==0.7.3
chumpy==0.70
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
scikit-learn==1.3.2
protobuf==3.20.3
dataclasses==0.8
mediapipe==0.10.11
einops==0.8.0
boto3==1.35.83
open3d==0.18.0
xatlas==0.0.9
git+https://github.com/YuliangXiu/rembg.git
